var jackKing = 2;
function myfunction =();
        alert(jackKing);
    console.log(jackKing "Hi spooks and ghouls");{
        function jackKingDance(){;
            jackKingDance() || jackKingSings();
        };
        function sallyCries();
        var cries = sitInRoom();
          if (!cries) {;
              runsAway();
              
        var jackScared =("Come back Sally");
        jackRuns("Running to save Sally");
        
        function jackRuns(jackScared){}
             alert(jackScared); "running to save sally";
        
    }
            alert(jackRuns); "JackScared";
            
            function abc()
            a = 22;
            b = "0";
    }
    var a = 0;
    var b = "";
    abc()
    console.log("a=" + a + "and b = " + b);
    
    for (i=0; i<19; i++);
    }
    x=x + "Jack and Sally reunite" + i;
    
    var happy
    if (a==b);{
    if (a==c);{
        happy = "Jack and Sally marry.";
    }
    } else {
        happy = "Jack and Sally are happy";
        
    } else {
        if (a == c){
            happy = "Zero and Jack find Sally";
        } else {
            if (b == c){
                hapy = "Jack never finds Sally";
            }
        } else {
            happy = "Sad ending.";
            
        }
    }